@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
	--bgColor: #003566;
	--moduleColor: #001d3d;
	--listItemColor: #022C53;
	--moduleRadius: 15px;
	--modulepPadding: 20px;
}

body{
	margin: 0px;
	background-color: var(--bgColor);
	color: white;
	font-family: "Poppins", sans-serif;
	width: 100vw;
	height: 100vh;
}

.ErrorPage{
	background-color: tomato;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h3{
		margin: 0px;
		transition: all .3s;
		&:hover{
			cursor: pointer;
			transform: scale(1.1);
			text-shadow: var(--shadow);
		}
	}
}

.NavBar{
	background-color: var(--moduleColor);
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	width: calc(100vw - 40px);

	.buttons{
		display: flex;
		gap: 10px;
	}
}

.Login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;

	.loginForm{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--moduleColor);
		border-radius: var(--moduleRadius);
		padding: var(--modulepPadding);
		width: 35vw;
		height: 50vh;

		h2{margin: 10px;}
		h1{margin: 10px}
	}
}
.Home{
	padding: 20px;
	height: calc(100% - 40px);
	width: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	h3{
		width: 40%;
	}

	h1{
		font-size: 50px;
		margin: 0px
	}
}

.UserAdministration{
	padding: 20px;
	height: calc(100% - 40px);
	width: calc(100% - 40px);

	.searchBar{
		background-color: var(--moduleColor);
		border-radius: var(--moduleRadius);
		padding: var(--modulepPadding);
		display: flex;
		align-items: center;
		gap: 15px;
	}

	.listContainer{
		background-color: var(--moduleColor);
		padding: var(--modulepPadding);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		margin: 10px;
		border-radius: var(--moduleRadius);

		.listItem{
			background-color: var(--listItemColor);
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 90%;
			border-radius: var(--moduleRadius);
			padding: 10px 20px;

			.buttons{
				display: flex;
				gap: 10px;
			}
		}
	}
}

.ChangeLogs{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--moduleColor);
	margin: 20px;
	height: calc(100% - 40px);
	width: calc(100% - 40px);
	border-radius: var(--moduleRadius);

	.logItem{
		background-color: var(--listItemColor);
		margin: 5px;
		padding: 0px 10px;
		border-radius: var(--moduleRadius);
	}
}