@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
	--bgColor: #660099;
	--moduleColor: #ffffff;
	--bgColorLogin: #ffffff;
	--moduleColorLogin: #660099;
	--listItemColor: #022C53;
	--moduleRadius: 15px;
	--modulepPadding: 20px;
}

@mixin pageBasis{
	background-color: white;
	margin: 20px;
	padding: 20px;
	width: calc(93vw - 40px);
	height: calc(100vh - 80px);
	border-radius: var(--moduleRadius);
	align-self: center;
	justify-self: center;
	align-items: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

.Root{
	display: flex;
	flex-direction: row;
	align-items: center;
}

body{
	margin: 0px;
	background-color: var(--bgColor);
	color: black;
	font-family: "Poppins", sans-serif;
	width: 100vw;
	height: 100vh;
}

.LatPanel{
	background-color: var(--moduleColor);	
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(7vw - 40px);
	height: calc(100vh - 40px);
	padding: 0 10px;	
	margin: 20px 0px 20px 20px;
	border-radius: var(--moduleRadius);
	transition: all ease .4s;

	&:hover{
		width: calc(18vw - 40px);
		height: calc(100vh - 40px);
	}

	&:hover .invisible{
		display: block;
	}

	.invisible{
		display: none;
		transition: all ease .4s;
	}

	&:hover .Button{
		width: 90%;
	}

	&:hover .Page{
		width: calc(82vw - 40px);
	}

	&:hover .luzLogo{
		transform: scale(.6);
	}

	&:hover .facoLogo{
		transform: scale(.8);
		top: 0;
	}

	Button{
		background-color: #d9d9d9;
		color: black;
		border-radius: 5px;
		margin: 1vh;
		width: 90%;
		justify-content: left;
		width: 50px;
		transition: all ease .4s;
	}
	
	
	.info{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 3px;
		justify-content: space-evenly;
		height: calc(15% - ((15px / 2)/2));

		.luzLogo{
			width: 80%;
			transition: all ease .4s;
		}

		h1{
			font-size: 20px;
		}
	}
	
	.buttons{
		height: calc(68% - ((15px / 2)/2));
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.facoLogo{
		width: 120%;
		transition: all ease .4s;
		position: relative;
		top: 10%;
	}
}

.ErrorPage{
	background-color: tomato;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h3{
		margin: 0px;
		transition: all .3s;
		&:hover{
			cursor: pointer;
			transform: scale(1.1);
			text-shadow: var(--shadow);
		}
	}
}

.Login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: white;

	.loginForm{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--bgColor);
		color: white;
		border-radius: var(--moduleRadius);
		padding: var(--modulepPadding);
		width: 35vw;
		height: 50vh;

		h2{margin: 10px;}
		h1{margin: 10px}
	}
}

.Home{
	background-image: url(./assets/fondo.png);
	// padding: 20px;
	// height: calc(100% - 40px);
	// width: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	@include pageBasis;

	h3{
		width: 40%;
	}

	h1{
		font-size: 50px;
		margin: 0px
	}
}

.UserAdministration{
	@include pageBasis;

	.searchBar{
		// background-color: var(--moduleColor);
		border-radius: var(--moduleRadius);
		padding: var(--modulepPadding);
		display: flex;
		align-items: center;
		gap: 15px;
	}

	.listContainer{
		// background-color: var(--moduleColor);
		padding: var(--modulepPadding);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		margin: 10px;
		border-radius: var(--moduleRadius);
		width: 95%;

		.mainList{
			width: 100%;
			display: flex;
			flex-direction: column;

			.listItem{
				// background-color: var(--listItemColor);
				display: flex;
				align-items: center;
				justify-content: space-between;
				align-self: center;
				// width: 90%;
				// border-radius: var(--moduleRadius);
				// padding: 10px 20px;

				.buttons{
					display: flex;
					gap: 10px;
				}
			}
		}
	}
}

.ChangeLogs{
	@include pageBasis;

	.logItem{
		height: 50px;
	}
}